APP_NAME="MER System (Staging)"
APP_ENV=staging
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta

APP_PORT=8000
APP_URL=http://localhost:8000

# ===========================================
# PostgreSQL - Database (Dockerized)
# ===========================================
DB_DATABASE=mer_staging
DB_USERNAME=mer_staging_user
DB_PASSWORD=secret_staging

# ===========================================
# Redis (Dockerized)
# ===========================================
REDIS_PASSWORD=secret_redis_staging

